.header
  padding 4u 2u
  align-items center
  flex-direction row
  z-index 1
  justify-content space-between
  +desktop()
    padding 4u 6u

.desktopMenu
  display none
  +desktop()
    display flex

.headerRight
  flex-direction row
  align-items center

.paddingTop
  padding-top 0.5u

.imgSearch  
  width 3u
  height 3u

.imgBasket
  width 18px
  height 2.5u

.imgBurger
  width 3u
  height 3u

.beetweenIcons  
  margin-left 3u

.border  
  padding 2px
  border 1px solid black
