.menuIcon
  margin-left 3u
  padding 2px
  border 1px solid black

.imgBurger
  width 3u
  height 3u

.close
  font-size 18px
  width 3u
  text-align center
  font-weight 500

.menu
  position absolute
  top calc(100% + 20px)
  right 0
