.row
  flex-direction row
  margin-top 1u

.title
  color #585858
  font-size 2u
  line-height 3u
  font-weight 500
  text-transform uppercase

.text
  color #585858
  font-size 2u
  line-height 3u
  font-weight 300
