.root
  margin-top 4u

.colors
  margin-top 3u
  flex-direction row

.color
  height 3u
  width 3u
  border-radius 50%
  margin-right 2u
  &.red
    background-color #ff4136
  &.pink
    background-color #ff01f0
  &.blue
    background-color #3649ff
  &.sky
    background-color #00c0ff
  &.green
    background-color #00ffae
  &.purple
    background-color #8a00ff
  &.last
    margin-right 0
