.searchLine
  margin-top 4u
  flex-direction row

.search
  width 100%
  background-color #f1f1f1
  color #8e8d8d
  padding-left 2u
  height 6u

.button
  height 100%
  padding-left 1u
  padding-right 1u
  justify-content center
  background-color #dedede

.img
  height 4u
  width 4u
