.root
  margin-top 6u
  padding 0 2u
  box-sizing border-box
  position relative
  width 290px + 4u
  +tablet()
    flex-direction row
    width auto
    padding 0

.right
  flex-shrink 1
  +tablet()
    margin-left 4u

.imgWrap
  align-items center

.sale
  position absolute
  z-index 9
  top 20px
  left 20px
  background-color #626262
  color #fff
  font-weight 600
  padding 0.5u 1.5u 0.5u

.img
  width 290px
  height 350px
  +tablet()
    width 320px
    height 366px

.title
  color #191919
  font-size 2.5u
  margin-top 2u
  +tablet()
    margin-top 0

.price
  color #b5b5b5
  font-size 2.5u
  font-weight 600
  margin-top 2u

.description
  margin-top 3u
  color #818181
  font-size 2u
  line-height 3.5u

.btns
  flex-direction row
  margin-top 3u

.favorite
  margin-left 3u
