.backImg
  background-image url("/main/mainScreen.jpg")
  height 20u
  background-size cover
  opacity 0.8
  justify-content center
  padding-left 2u
  +tablet()
    height 40u
  +desktop()
    height 45u

.txt
  margin-top 2u
  flex-direction row
  
.title
  color rgb(88, 88, 88)
  font-size 4u
  font-weight 600
  +desktop()
    font-size 5u

.menuHome
  color rgb(88, 88, 88)
  font-size 2u

.menuShop
  color rgb(88, 88, 88)
  font-size 2u
  font-weight 600
