.root
  margin-top 6u
  padding 0 2u
  box-sizing border-box
  position relative
  +tablet()
    padding 0 1.5u

.imgWrap
  align-items center

.sale
  position absolute
  z-index 9
  top 20px
  left 20px
  background-color #626262
  color #fff
  font-weight 600
  padding 0.5u 1.5u 0.5u

.img
  width 290px
  height 350px
  +tablet()
    width 310px
    height 380px

.header
  flex-direction row
  justify-content space-between
  margin-top 2u

.title
  color #5d5d5d
  font-size 14px
  font-weight 600
  text-transform uppercase

.price
  color #ee3333
  font-weight 600

.category
  margin-top 1u
  color #474747
