.root
  margin-top 4u
  flex-direction row

.img
  height 11u
  width 11u

.rightSide
  margin-left 2u

.stars
  margin-top 1u
  flex-direction row

.imgStar
  margin-left 1u
  height 2u
  width 2u
  &.first
    margin-left 0

.price
  margin-top 2u
