.btn
  display inline-block
  background-color transparent
  border 1px solid #dcdcdc
  text-align center
  padding 0 3u
    
.txt
  color #636363
  font-size 2u
  height 50px
  line-height 50px
  font-weight 500
